[submodule "frontend"]
	path = frontend
	url = https://github.com/AnthonyCampos1234/Onusphere-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/AnthonyCampos1234/Onusphere-backend.git
